# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

www/

jspm_packages/
node_modules/
platforms/
plugins/
.idea/
lib

css/app.css
css/app.min.css
.vscode/