<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{ 'ADD_TASK__UPPER' | translate }}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <span class="input-label">{{ 'TITLE__TRANSLATION' | translate }}</span>
                <input type="text" ng-model="vm.title">
            </label>

            <label class="item item-input">
                <span class="input-label">{{ 'DESCRIPTION__TRANSLATION' | translate }}</span>
                <textarea ng-click="vm.description"></textarea>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    <i class="icon ion-record" style="color:{{ vm.selectedColor.colorValue }}"></i>
                    {{ 'COLOR__TRANSLATION' | translate }}
                </div>
                <select
                    ng-model="vm.selectedColor"
                    ng-options="color.colorName for color in vm.availableColors">
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">{{ 'RECURRING_(DAYS)__TRANSLATION' | translate }}</span>
                <input type="number" ng-model="vm.recurring">
            </label>

            <div class="button-bar">
                <button class="button button-full button-positive" ng-click="vm.saveNewTodo()">
                    {{ 'SAVE__UPPER' | translate }}
                </button>

                <button class="button button-full button-stable" ng-click="vm.closeModal()">
                    {{ 'CLOSE__UPPER' | translate }}
                </button>
            </div>

        </div>
    </ion-content>
</ion-modal-view>
