<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" translate>DELETE_TASK__TRANSLATION__UPPER</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item">
                <span translate>ARE_YOU_SURE__TRANSLATION</span>
            </div>

            <div class="button-bar">
                <button class="button button-full button-positive" ng-click="vm.removeTodo()" translate>
                    DELETE__TRANSLATION__UPPER
                </button>

                <button class="button button-full button-stable" ng-click="vm.closeModal()" translate>
                    CLOSE__TRANSLATION__UPPER
                </button>
            </div>

        </div>
    </ion-content>
</ion-modal-view>