<div class="list card" ng-show="vm.todos.length === 0">
    <a href="#" class="item item-icon-left">
        <i class="icon ion-happy-outline"></i>
        <span translate>NOTHING_TO_DO__TRANSLATION</span>
    </a>
</div>

<div class="list card" ng-repeat="todo in vm.todos" ng-show="vm.todos.length !== 0">
    <a href="#" class="item item-icon-left">
        <i class="icon ion-record" style="color:{{ todo.color.colorValue }}"></i> {{ todo.title }}
    </a>
    <div class="buttons">
        <button c-platform-class class="button icon cs-checkmark-icon"></button>
        <button c-delete-todo="todo" c-platform-class class="button icon cs-trash-icon"></button>
    </div>
</div>