<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">ADD TASK</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea></textarea>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    <i class="icon ion-record" style="color:{{ vm.selectedColor }}"></i>
                    Color
                </div>
                <select ng-model="vm.selectedColor" ng-options="color as color for color in vm.availableColors">
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">Recurring (days)</span>
                <input type="number">
            </label>

            <button class="button button-full button-positive">
                SAVE
            </button>

            <button class="button button-full button-light" ng-click="vm.closeModal()">
                CANCEL
            </button>

        </div>
    </ion-content>
</ion-modal-view>
